body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

p {
    margin: 30px 0;
}

li {
    margin: 10px 0;
}

.menu {
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom:1px solid rgba(143, 143, 143, 0.671);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.active {
    color: rgb(0, 140, 255);
    border-bottom: 2px solid rgb(0, 136, 248);
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}